@model WebApplication3.Models.TableViewModels.RentaTableViewModel
@{
    ViewBag.Title = "RentView";
}

<h2>RentView</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("RentView", "Rent", FormMethod.Post))
        {
            
            @Html.ValidationMessage("Error", new { @class = "text-danger" })

            @Html.LabelFor(model => model.IDVehiculo)
            @Html.TextBoxFor(model => model.IDVehiculo)

            @Html.LabelFor(model => model.IDCliente)
            @Html.TextBoxFor(model => model.IDCliente)

            @Html.LabelFor(Model => Model.Fecha)
            @Html.TextBoxFor(model => model.Fecha, new { @textmode = "DateTime" })
           
            @Html.LabelFor(model => model.Precio)
            @Html.TextBoxFor(model => model.Precio)

            <input type="submit" class="" btn btn-success" value="Guardar">

        }

        <div>
        </div>
