@model List<WebApplication3.Models.TableViewModels.VehicleTableViewModel>
    @{
        ViewBag.Title = "ViewVehicles";
    }

    <h2>Vehiculos disponibles</h2>
    <div class="col-lg-12">
        <div class="row">
            @using (Html.BeginForm("ViewVehicles", "Vehicle", FormMethod.Get))
            {
                <div class="row">
                    <h4>Busqueda</h4>
                    @Html.TextBox("option")
                    <input type="submit" class="btn-default" value="Buscar">
                </div>
            }
            <br>
            <br>

            <table border="1" class="table">
                <tr>
                    <th>Descripcion</th>
                    <th>Placa</th>
                    <th>Tipo</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                </tr>
                @foreach (var oElement in Model)
                {

                    <tr>
                        <td>@oElement.Descripcion</td>
                        <td>@oElement.NPlaca</td>
                        <td>@oElement.TipoDeVehiculo</td>
                        <td>@oElement.Marca</td>
                        <td>@oElement.Modelo</td>
                    </tr>
                }
            </table>
        </div>
    </div>
